/*
 *画面のスタイルシート
 */

 body{
    font-family: "Noto Sans JP", "sans-serif";
    margin: 0;
    min-width: 1076px;
}

footer{
    text-align: center;
    margin: 0 100px 0 100px;
    font-size: x-large;
}
/*
 * [header]のスタイルシート
 */

.color-green {
   color: #00ABAE;
}

.block-header {
   margin: 10px 0;
   padding:0 20px 10px;
   box-shadow: 0 10px 10px -5px rgba(204, 204, 204, 0.3);
}

.block-header a {
   font-size: 40px;
   color: #000;
   text-decoration: none;
   letter-spacing: 1px;
}
.block-main{
   text-align: center;
}
.box-profile{
    margin: 0 200px 20px 200px;
}
.box-profile h2{
    font-size: 40px;
}
.box-profile h2 span {
    color: #00ABAE;
}
.box-profile .item-list img{
   width: 400px;
   height: 400px;
   border-radius: 50%;
}
.box-profile .item-list b{
   display: block;
   font-size: 30px;
}
.box-profile .item-list .skill-list{
    color: #00ABAE;
    font-size: 25px;
}
.box-profile .item-list .txst{
    margin: 0 20% 0 20%;
    overflow-wrap: break-word;
    font-size: 25px;
}
.box-profile .icon{
    display: inline-flex;
    width: 400px;
    list-style: none;
}
.box-profile .my-github{
    width: 200px;
}
.box-profile .my-github img{
    width: 80px;
    height: 80px;
}
.box-profile .my-twitter{
    width: 200px;
}
.box-profile .my-twitter img{
    width: 75px;
    height: 75px;
}
.block-main .box-works h2{
    font-size: 40px;
}
.block-main .box-works .works-list{
    display: flex;
    list-style: none;
    margin: 0 15% 0 15%;
}
.block-main .box-works .works-list li{
    width: 30%;
    margin: 0 5% 0 5%;
}
.block-main .box-works .works-list img{
    width: 100%;
}
.block-main .box-works .works-list h3{
    font-size: 25px;
}
.block-main .box-works .works-list span{
    font-size: 20px;
}
.block-main .box-works .works-list .link a{
    font-size: larger;
    margin: 0 10%;
}

@media screen and (max-width: 375px){
    .block-header a{
        font-size: 50px;
    }
    .block-main .box-profile {
        margin: 0 5% 0 5%
    }
    .block-main .box-profile h2 {
        font-size: 45px;
    }
    .block-main .box-profile b {
        font-size: 40px;
    }
    .block-main .box-profile .skill-list {
        font-size: 35px;
        margin: 0 20% 0 20%;
    }
    .block-main .box-profile .txst {
        font-size:35px;    
        margin: 0 5% 0 5%;
    }
    .block-main .box-profile .icon .my-github img {
        width: 100px;
        height: 100px;
    }
    .block-main .box-profile .icon .my-twitter img {
        width: 100px;
        height: 100px;
    }
    .block-main .box-works h2 {
        font-size: 45px;
    }
    .block-main .box-works .works-list{
        margin:0 5% 0 5%;
        display: block;
        padding-left: 0;
    }
    .block-main .box-works .works-list li {
        width: 100%;
        margin: 0 5% 5% 0;
    }
    .block-main .box-works .works-list li h3 {
        font-size: 40px
    }
    .block-main .box-works .works-list li span {
        font-size: 35px;
    }
    .block-main .box-works .works-list li .link {
        font-size: 30px;
    }
    footer p {
        font-size: 30px;
    }
}